<div id="<%= dom_id note %>" class="card text-dark bg-info p-2">
  <div class="card-header text-center">
    <%= note.name %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= note.description %></p>
  </div>
  <p>
    <strong>Status:</strong>
    <%= note.status %>
  </p>

</div>
